<h1>Message Service Demo</h1>

<fieldset>
  <legend>
    Root Module
    <span> Click below button to publish message </span>
  </legend>

  <button (click)="orderPlaced($event)">Publish Order Placed</button> <br>
  <hr>

  <button (click)="orderPaid($event)">Publish Order Paid</button><br>
  <hr>

  <button (click)="orderShipped($event)">Publish Order Shipped</button>

</fieldset>

<br>

<hr>
<br>

<fieldset>
  <legend>Feature Module</legend>
  <app-submit-order></app-submit-order>
</fieldset>
